@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    box-shadow: none;
    box-sizing: border-box;
    vertical-align: baseline;
    transition: all .2s ease-in-out;
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(21, 28, 65);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-size: 16px;
}