/* Cover Image */

.cover-image-container {
    width: 80%;
    margin: 0 auto;
    height: calc(75vh);
}

.main-cover {
    width: 100%;
    height: calc(75vh);
}

/* Main Content */

main {
    width: 50%;
    margin: 25px auto;
}

main h1 {
    font-size: 30px;
    text-align: center;
}