.article-content {
    width: 90%;
    margin: 0 auto;
}

h3 {
    text-align: center;
}

.aligned {
    text-align: right;
}

table {
    margin: 0 auto;
}

td {
    padding: 10px 15px;
    border: solid 1px #000;
}

th {
    padding: 10px 15px;
    border: solid 1px #000;
}