@charset "utf-8";

.flex-container-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.form {
    color: #171620;
    flex: 50%;
    padding: 30px;
    height: 524px;
    width: 100%;
    box-shadow: 5px 4px 10px #bbb;
    margin-right: 15px;
}

.map {
    width: 100%;
    flex: 50%;
    padding: 30px;
    height: 524px;
    box-shadow: 5px 4px 10px #bbb;
    margin-left: 15px;
}

@media screen and (max-width: 800px) {
    .flex-container-contact {
        display: block;
    }

    .form {
        width: 100%;
        margin: 0 0 100px 0;
    }

    .map {
        width: 100%;
        margin: 100px 0 0 0;
    }
}

iframe {
    width: 100%;
    height: calc(100% - 90px);
    border: 0; 
}

.form h2 {
    font-weight: 600;
}

.form p {
    margin-top: 4px;
    font-size: 16px;
    font-weight: 400;
}

form {
    margin: 0 auto;
    margin-top: 25px;
    width: 100%;
    font-size: 0;
}

input {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    transition: border .25s ease-in-out;
}

form input + input {
    margin-top: 15px;
}

input:focus, textarea:focus {
    border: 1px solid #46cbea;
}

textarea {
    margin-top: 15px;
    width: 100%;
    min-width: 100%;
    height: 160px;
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 4px;
    resize: none;
    overflow: auto;
    transition: border-color 0.2s ease;
}

input[type="text"]:valid, input[type="email"]:valid {
    background: #fff url(../Images/valid.png) no-repeat 97% center;
    background-size: 13px 13px;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    text-align: center;
    background-color: #46cbea;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease;
}

input[type="submit"]:hover {
    background-color: #7bdaf0;
}

.socials {
    width: 80%;
    margin: 0 auto;
    box-shadow: 5px 4px 10px #bbb;
}

.socials h2 {
    padding: 30px 30px 15px 30px;
}

.icon-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px 30px 30px;
}

.icon-bar a {
    width: 50px;
    height: 50px;
    margin: 0 15px;
}

.icon-bar i {
    padding: 15px;
    border: #171620 solid 1px;
    border-radius: 35px;
}

.icon-bar i:hover, .icon-bar i:focus {
    color: #46cbea;
    border: #46cbea solid 1px;
}