.main-content {
    width: 80%;
    margin: auto;
    text-align: center;
}

p {
    font-size: 16px;
}

.main-content p {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

#quote-button {
    width: 150px;
    height: 40px;

    border-radius: 10px;
    box-shadow: black;
    font-size: 16px;
    text-align: center;

    background-color: #333;
    color: #fff;

    transition: 0.3s all;
}

#quote-button:hover, #quote-button:focus {
    background-color: #fff;
    color: #333;
    border: 1px #333 solid;
}

.background-colour {
    background-color: #F7F7F6;
    width: 100%;
    padding: 15px 0;
}

@media screen and (max-width: 800px) {
    p {
        font-size: 15px;
    }
}