/* Form - Social Container and Responsiveness */

.form-social-container {
    width: 80%;
    margin: 0 auto;
}

.form-social {
    float: left;
    width: 50%;
    padding: 10px;
}
  
.form-social-container:after {
    content: "";
    display: table;
    clear: both;
}
  
@media screen and (max-width: 800px) {
    .form-social {
        width: 100%;
    }
}

/* Form */

.form {
    text-align: center;
}

.form-border {
    border: 1px solid rgb(44, 44, 44);
    border-radius: 15px;
}

.form p {
    margin-top: 4px;
    font-size: 16px;
}

form {
    margin: 0 auto;
    width: 100%;
    font-size: 0;
    padding: 25px;
}

input {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    transition: border-color .25s ease-in-out;
}

form input + input {
    margin-top: 15px;
}

input:focus, textarea:focus {
    border: 1px solid rgb(44, 44, 44);
}

input[type="submit"] {
    width: 100%;
    height: 46px;
    margin-top: 15px;
    text-align: center;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: rgb(44, 44, 44);
}

@media screen and (max-width: 800px) {
    input {
        font-size: 14px;
    }
}

.social-border {
    border: 1px solid rgb(44, 44, 44);
    border-radius: 15px;
}

.social-padding {
    padding: 25px;
}

.icon-holder {
    background-color: #fff;
    width: 100%;
    border-radius: 6px;
    margin: 30px 0;
}
  
.icon-holder ul {
    list-style: none;
    text-align: center;
}

.icon-holder ul li {
    display: inline;
}

.icon-holder ul li a {
    padding: 15px;
    border: 0.1rem solid  #333;
    color: #333;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5rem;
}

.icon-holder ul li a:hover {
    background-color: #F7F7F6;
}

.icon-holder ul li + li {
    margin-left: 25px;
}
  
.text-holder {
    margin: 20px;
    text-align: center;
}

iframe {
    width: 100%;
    margin: 0 auto;
}