* {
    box-sizing: border-box;
}

.gallery-container {
    width: 80%;
    margin: 0 auto;
    background-color: #F7F7F6;
}

div.gallery {
	box-shadow: 5px;
    width: 100%;
}

div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.responsive {
    padding: 0 8px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 800px) {
    .responsive {
        width: 49.99999%;
        margin: 8px 0;
    }
}

@media only screen and (max-width: 600px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}