@import 'base.css';
@import 'navigation.css';

/*-------------------------------------------

                Form Styling

-------------------------------------------*/

.form-container h2{
    color: #000;
}

main{
    padding:40px 0;
}

.fake-form h2{
    font-size: 24px;
    font-weight: 600;
}
iframe{
    margin-top:10px;
    flex-grow: 1;
}

.fake-form p{
    margin-top: 4px;
    font-size: 18px;
    font-weight: 400;
}

.left-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.fake-form{
    font-size: 0;
    width: 35vw;
    max-width: 500px;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: calc(100vh - 140px);
    align-items: center;
}

#copy-to-clipboard{
    color:black;
    cursor: pointer;
}

#copy-to-clipboard:hover{
    text-decoration: none;
}

input, textarea{
    width: calc(100% - 120px);
    max-width: 350px;
    height:50px;
    padding: 0 15px;
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 4px;
    font-size:16px;
    font-weight: 400;
    color: #000;
    transition: background-color .25s ease-in-out;
}

.output{
    width: 100%;
    height:50px;
    max-width: 350px;
    padding: 0 15px;
    background-color: #EEE;
    border-radius: 4px;
    font-size:16px;
    margin-top:10px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.output p, .output b{
    color: #000;
    text-align: center;
}

input:focus, textarea:focus{
    border: 1px solid #222;
}

input[type="button"] + input[type="button"]{
    margin-left: 10px;
}

input[type="button"], input[type="reset"]{
    width: 50%;
    height: 45px;
    text-align:center;
    font-weight: 600;
    letter-spacing: .2px;
    color:#FFF;
    cursor: pointer;
    background-color: #182b38;
}

.full-size-btn{
    width: 100% !important;
    max-width: 500px !important;
    margin-left: 0 !important;
    border-radius: 25px;
}

.circle-input{
    border: 5px solid #182b38;
    max-width: 350px !important;
    margin-left: 0 !important;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    font-size: 64px;
    text-align: center;
}

.circle-input:focus{
    border: 5px solid #182b38;
}

::placeholder{
    color: black;
}

input[type="button"], input[type="reset"]{
    border-radius: 25px;
    border:none;
}

input[type="button"]:hover:not([disabled]), input[type="reset"]:hover{
    background-color: #fff!important;
    color: #000;
    border: 1px solid #222;
}

input[type="button"]:hover:is([disabled]){
    cursor: not-allowed;
}

.buttons{
    text-align: left;
    margin-top: 15px;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.heading {
    text-align: center;
    font-size: min(calc(34px + (34 - 24) * ((100vw - 280px) / (1260 - 280))),34px);
    font-weight: 400;
    margin-bottom: 40px;
}

/*--------------------------

Alternative Contact Styling

--------------------------*/

.contact-container{
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
    align-items: center;
    justify-content: space-between;
}

.contact-text-container{
    margin: 15px 0;

}

.contact-text-container p{
    font-family: 'Nunito Sans Lighter', Lato, sans-serif;
}

.changeHeadings{
    text-align: center;
    font-size: 74px;
    color: black;
    line-height: 62px;
    margin-bottom: 10px;
}

.overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    width: 350px;
    height: 50vh;
    border-radius: 25px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-up-form{
    width: 450px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-up-form h1{
    color: black;
}


.login-form-input{
    margin: 20px auto !important;
    margin-bottom: 0 !important;
}

.modal .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal h1, .modal p{
    color: black;
}

#error-p, #large-error-p{
    color: darkred!important;
    text-align: center;
}

#large-error-p{
    margin-bottom: 10px;
}

.close-login{
    position: fixed;
    right: calc(50vw - 155px);
    top: calc(25vh + 20px);
    color: black;
    cursor: pointer;
}

/*-------------------------------

        Media Queries

-------------------------------*/

@media screen and (min-width: 768px) {
    .contact-container {
        max-width: 800px;
    }
}

@media screen and (min-width: 1024px) {
    .contact-container{
        max-width: 1000px;
    }
}

@media screen and (max-width: 972px){
    .form-container + .form-container{
        margin-top: 40px;
    }

    .fake-form{
        width: 100%;
        margin-top: 0px;
    }

    .heading{
        margin-bottom: 0;
    }

    main{
        padding-bottom: 0;
    }

    .contact-container{
        margin-top: 0;
        margin-bottom: 0;
        padding: 20px 0;
        height:auto;
    }
}