@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    line-height: 120%;
    letter-spacing: 0.5px;
}

header {
    background-image: url("../Images/setup.jpg");
    height: 720px;
    width: 1250px;
}

nav {
    height: 45px;
    margin: 0px 0px 0px -40px;
    position: relative;
    bottom: 700px;
    width: 450px;
    text-align: center;
}

nav a {
    font-size: 20px;
    margin: auto 7px;
    text-decoration: none;
    text-align: right;
    text-align: center;
    color: white;
    transition: 0.3s all;
}

nav a:hover {
    color: gray;
}

.container {
    margin: 100px auto;
    text-align: center;
    position: relative;
    bottom: 630px;
    color: white;
}

img {
    opacity: 0.8;
    bottom: 0px;
    height: 720px;
    width: 100%;
    position: relative;
}

h1 {
    font-size: 80px;
    margin: 20px auto;
}

h2 {
    margin: 20px auto;
    text-align: center;
}

#button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    margin: 20px auto;
    background-color: white;
    color: black;
    transition: 0.3s all;
}

#button:hover, #button:focus {
    background-color: gray;
    color: white;
}

.main-content {
    width: 80%;
    margin: auto;
}

footer {
    min-width: 100%;
    height: 65px;
    background-color: #f6f6f7;
    overflow: hidden;
}

.icon-bar {
    width: 80%;
    margin: 10px auto;
    background-color: #f6f6f7;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 50px;
    height: 27px;
    text-align: center;
    padding: 12px 0;
    margin: 0px 5px 0px 5px;
    transition: all 0.3s ease;
    color: black;
    font-size: 24px;
}

.icon-bar a:hover {
    background-color: gray;
    color: white;
    border-radius: 80px;
}

.copyright {
    text-align: right;
    position: relative;
    bottom: 83%;
    right: 10%;
}

.copyright p {
    font-size: 16px;
}